@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  height: 45pc;
  background-image: url("./NewArt.jpeg");
}

.vertical {
  border-left: 6px solid rgb(255, 255, 255);
  height: 20px;
}

@media screen and (max-width: 955px) {
  #homelogo{width: 22pc}
}

@media screen and (max-width:955px) {
  #media1{margin-right: 50px}
}
.maindiv{
  height: 62pc
}
@media screen and (max-width:1279px) {
  .maindiv{
    height: 80pc
  }
}


@media screen and (max-width:780px) {
  .maindiv{
    height: 110pc
  }
}

/* aboout us navbar media query */
@media screen and (max-width:688px) {
  .listingbut{
    display: inline;
  }
  .listed{
    display: none;
  }
}